ambiance==1.0.0
certifi==2020.4.5.1
cycler==0.10.0
kiwisolver==1.2.0
matplotlib==3.2.1
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1588605080954/work
pandas==1.0.3
patsy==0.5.1
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
python-dateutil==2.8.1
pytz==2020.1
scikit-aero==0.1
scipy==1.4.1
seaborn==0.10.1
six==1.14.0
statsmodels==0.11.1
tornado==6.0.4
